{
  "plugins": ["prettier"],
  "extends": ["next", "next/core-web-vitals", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "camelcase": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-unused-prop-types": "off",
    "react/require-default-props": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never"
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ]
  },
  "overrides": [
    {
      "files": "**/*.+(ts|tsx)",
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint/eslint-plugin"],
      "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
      "rules": {
        "absolute-import/no-relative-path": 0,
        "camelcase": 0,
        "@typescript-eslint/camelcase": 0,
        "id-length": 0,
        "react/no-array-index-key": 0,
        "react/forbid-dom-props": 0,
        "@typescript-eslint/naming-convention": 0,
        "react/require-default-props": 0,
        "no-void": 0
      }
    }
  ]
}
